{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.mdx"],
      "options": {
        "overrides": [
          {
            "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.mdx"],
            "options": {
              "spaceBeforeColon": false,
              "spaceAfterColon": true
            }
          }
        ]
      }
    }
  ]
}
