/** trending - swiper */
/** navigation */
#trending .swiper-button-next::after,
#trending .swiper-button-prev::after {
  display: none !important;
}

#trending .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
  display: none;
}
/** pagination */
#trending .swiper-pagination .swiper-pagination-bullet{
  background-color: #b0bbc9 !important;
  opacity: 1 !important;
}
#trending .swiper-pagination .swiper-pagination-bullet-active{
  background-color: #217BBB !important;
  opacity: 1 !important;
}